# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Datasets
data/

# Model Files
*.pt
*.onnx
*.h5
*.keras

# Training Outputs
runs/

# VS Code
.vscode/

# Database
*.db

# Logs
*.log

# testing images
test_images/

# Benchmark/Test Images
test_videos/images/
test_videos/*.mp4
results/

#Output videos 
src\dashboard\output_videos
output_videos/*.mp4